# Program 1

In [1]:
num_1 = int(input("Introduzca el primer número "))

Introduzca el primer número 1

In [2]:
num_2 = int(input("Introduzca el segundo número "))

Introduzca el segundo número 3

In [3]:
average = (num_1 + num_2)/2
print("La media es: " + str(average))

La media es: 2.0

# Program 2

In [4]:
def introducir_producto():
    cod = int(input("Introduzca el código "))
    price = float(input("Introduzca el precio "))
    producto = (cod, price)
    return producto

In [5]:
producto = (2,3)
type(producto)

tuple

In [6]:
producto = [2,3]
type(producto)

list

Métodos de listas:

https://www.analyticsvidhya.com/blog/2021/06/15-functions-you-should-know-to-master-lists-in-python/

In [7]:
p1 = introducir_producto()

Introduzca el código 1
Introduzca el precio 20

In [8]:
p2 = introducir_producto()

Introduzca el código 2
Introduzca el precio 300

In [9]:
p3 = introducir_producto()

Introduzca el código 3
Introduzca el precio 200

### Opción 1:

In [15]:
print("CODE\tPRICE\n================")
print(str(p1[0])+"\t"+str(p1[1]))

CODE	PRICE
================
1	20.0

In [20]:
print("CODE\tPRICE\n================")
print(str(p1[0])+"\t"+str(p1[1]))
print("{uno}\t{dos}".format(uno=p2[0],dos=p2[1]))
print("{uno}\t{dos}".format(uno=p3[0],dos=p3[1]))

CODE	PRICE
================
1	20.0
2	300.0
3	200.0

### Opción 2:

In [22]:
def imprimir_productos(lista_productos):
    print("CODE\tPRICE\n================")
    
    for producto in lista_productos:
        print("{code}\t{precio}".format(code=producto[0], precio=producto[1]))

In [23]:
lista = [p1,p2,p3]

In [24]:
imprimir_productos(lista)

CODE	PRICE
================
1	20.0
2	300.0
3	200.0

# Program 3

In [27]:
def celsius_a_farenheit(temp_celsius):
        temp_farenheit = 1.8*temp_celsius + 32
        return temp_farenheit

In [28]:
def farenheit_a_celsius(temp_farenheit):
        temp_celsius = (temp_farenheit - 32)/1.8
        return temp_celsius

In [29]:
celsius_a_farenheit(20)

68.0

In [30]:
farenheit_a_celsius(68)

20.0

In [31]:
farenheit_a_celsius( celsius_a_farenheit(20) )

20.0

# Program 4

In [34]:
nombre = input("Introduzca su nombre: ")
direccion = input("Introduzca su direccion: ")

Introduzca su nombre: Nico
Introduzca su direccion: Calle A

In [36]:
print("Su nombre es: " + nombre + "\nSu dirección es: " + direccion)

Su nombre es: Nico
Su dirección es: Calle A

# Opcional 1

In [37]:
ano_nac = int(input("Introduzca su año de nacimiento: "))

Introduzca su año de nacimiento: 1999

In [38]:
import datetime

In [39]:
datetime.datetime.now()

datetime.datetime(2021, 10, 6, 18, 54, 57, 439335)

In [40]:
now = datetime.datetime.now()

In [41]:
now.year

2021

In [42]:
edad = now.year - ano_nac

In [43]:
print("Tu edad es: " + str(edad))

Tu edad es: 22

# Opcional 2

In [44]:
one_cent = int(input("Cantidad monedas 1ct: "))
two_cent = int(input("Cantidad monedas 2ct: "))
five_cent = int(input("Cantidad monedas 5ct: "))
ten_cent = int(input("Cantidad monedas 10ct: "))
twenty_cent = int(input("Cantidad monedas 20ct: "))
fifty_cent = int(input("Cantidad monedas 50ct: "))

Cantidad monedas 1ct: 1
Cantidad monedas 2ct: 2
Cantidad monedas 5ct: 3
Cantidad monedas 10ct: 4
Cantidad monedas 20ct: 5
Cantidad monedas 50ct: 6

In [46]:
euros = (one_cent*1 + two_cent*2 + five_cent*5 + ten_cent*10+ twenty_cent*20+fifty_cent*50)/100
print("Tienes " + str(euros) + " euros")

Tienes 4.6 euros