In [1]:
datos_camiones = {
    "2839EGH": [2008, 195.345, 2023, [198, 280, 320, 155, 248, 233, 75]],
    "2345GHT": [2010,  85.345, 2025, [298,  80,  40, 555, 643,  21, 154]],
    "2345BRT": [2011,  22.365, 2023, [200,  50,  10,  55, 347, 101,  80]]
}

In [10]:
datos_camiones["2839EGH"][3][3]

155

In [13]:
for clave, valor in datos_camiones.items():
    print(clave)
    print(valor)
    for elemento in valor:
        print(elemento)

2839EGH
[2008, 195.345, 2023, [198, 280, 320, 155, 248, 233, 75]]
2008
195.345
2023
[198, 280, 320, 155, 248, 233, 75]
2345GHT
[2010, 85.345, 2025, [298, 80, 40, 555, 643, 21, 154]]
2010
85.345
2025
[298, 80, 40, 555, 643, 21, 154]
2345BRT
[2011, 22.365, 2023, [200, 50, 10, 55, 347, 101, 80]]
2011
22.365
2023
[200, 50, 10, 55, 347, 101, 80]

In [22]:
for elemento in datos_camiones:
    print(elemento)
    datos_camiones[elemento]

2839EGH
2345GHT
2345BRT

In [18]:
datos_camiones["2839EGH"]

[2008, 195.345, 2023, [198, 280, 320, 155, 248, 233, 75]]

In [24]:
for elemento in range(datos_camiones):
    print(elemento)

TypeError: 'dict' object cannot be interpreted as an integer

In [27]:
for clave, valor in datos_camiones.items():
    print(clave)
    print(valor)

2839EGH
[2008, 195.345, 2023, [198, 280, 320, 155, 248, 233, 75]]
2345GHT
[2010, 85.345, 2025, [298, 80, 40, 555, 643, 21, 154]]
2345BRT
[2011, 22.365, 2023, [200, 50, 10, 55, 347, 101, 80]]

# Program 2

In [28]:
frutas = {"Apple":[100, 1.69], "Watermelon": [350, 0.48], "Orange": [250,26.9]}
# Es un diccionario. 
# La clave es el nombre de la fruta y el valor es una lista con dos posiciones
# La primera posición son los kilos de fruta disponibles
# la segunda posición es el precio por kilo
# Los precios por kilo los he buscado en internet

In [29]:
frutas

{'Apple': [100, 1.69], 'Watermelon': [350, 0.48], 'Orange': [250, 26.9]}

Las funciones se utilizan en el código de debajo

In [39]:
def clientOrder():
    fruta_deseada = input("Fruta a comprar: ")
    datos_fruta = frutas.get(fruta_deseada, "NA")
    
    # Si la fruta no existe, se devuelve NA
    if datos_fruta != "NA":
        precio = float(input("Introduzca precio por kilo. (anteriormente {0}€/kg) : ".format(datos_fruta[1])))
        kilos_deseados = float(input("Introduzca la cantidad deseada (kg): "))
    else:
        # Códigos error
        fruta_deseada = "NA"
        precio = -1
        kilos_deseados = -1
    
    return fruta_deseada, kilos_deseados, precio

In [40]:
def orderIsAchievable(fruta, kilos_deseados):
    kilos_fruta_stock = frutas.get(fruta)[0]
    
    order_ok = False
    if kilos_deseados <= kilos_fruta_stock:
        order_ok = True
        
    return order_ok

In [41]:
def actualizarFrutas(fruta, kilos_deseados, precio_introducido):
    # Actualizamos los datos de la fruta
    
    # Primero los kg
    frutas[fruta][0] = frutas[fruta][0] - kilos_deseados
    
    # Ahora el precio introducido
    frutas[fruta][1] = precio_introducido

In [42]:
shop_is_open = "y"
while shop_is_open=="y":
    
    # Prmiero se obtiene toda la información necesaria del pedido del cliente
    fruta, kilos, precio = clientOrder()
    
    # Si la fruta no existe, ni preguntamos más
    if fruta != "NA":                
        
        # Comprobamos si los kilos pedidos cuadran con lo el stock
        order_ok = orderIsAchievable(fruta, kilos)
    
        # Actualizamos los datos de los kilos disponibles si order ok
        if order_ok:
            actualizarFrutas(fruta, kilos, precio)
            print("Se han vendido {0} kg de {1} a un precio de {2}€/kg por un total de {3}€".format(kilos, fruta, precio, precio*kilos))
        else:
            print("No se puede comprar más fruta de que hay en stock.")
    else:
        print("La fruta escogida no está disponible")
    
    shop_is_open = input("Continue operations? (y/n): ")

Fruta a comprar: Apple
Introduzca precio por kilo. (anteriormente 1.69€/kg) : 1.7
Introduzca la cantidad deseada (kg): 10
Se han vendido 10.0 kg de Apple a un precio de 1.7€/kg por un total de 17.0€
Continue operations? (y/n): n

In [43]:
frutas

{'Apple': [90.0, 1.7], 'Watermelon': [350, 0.48], 'Orange': [250, 26.9]}

# Program 4 -  Client bank account

In [63]:
nombre = input("Introduzca nombre: ")
tfno = input("Introduzca telefono: ")
acc_number = input("Introduzca acc. number: ")
balance = float(input("Introduzca balance: "))
datos_cliente = (nombre, tfno)
datos_banco = (acc_number, balance)

Introduzca nombre: Nico
Introduzca telefono: 12312421
Introduzca acc. number: 13342
Introduzca balance: 23312

In [64]:
datos_cliente

('Nico', '12312421')

In [65]:
datos_banco

('13342', 23312.0)

In [66]:
datos_totales = (datos_cliente, datos_banco)

In [67]:
datos_totales

(('Nico', '12312421'), ('13342', 23312.0))

In [68]:
datos_totales[1]

('13342', 23312.0)

In [69]:
datos_totales[1][1]

23312.0

In [71]:
nuevo_balance = float(input("Introduzca nuevo balance: "))
datos_totales[1][1] = nuevo_balance

Introduzca nuevo balance: 10000

TypeError: 'tuple' object does not support item assignment

Sale un error porque no puedes actualizar valores de una tupla

Tienes que crear la tupla entera de nuevo

In [72]:
datos_totales = (  (datos_totales[0][0],datos_totales[0][1]), (datos_totales[1][0], nuevo_balance))
datos_totales

(('Nico', '12312421'), ('13342', 10000.0))

# Program 3 - Student's course

In [74]:
datos_alumno = {"Name": "Felipe", "Number": 2301 }
datos_academicos = {"Course_year": 2021, "Num_courses": 5, "Grades":[5,6,7,8,9] }

In [75]:
datos_alumno["Apellido"] =

{'Name': 'Felipe', 'Number': 2301}

In [ ]:
dicc_combined = dict()

In [ ]:
for clave, valor in datos_alumno:
    dicc_combined[clave] = valor

In [ ]:
for clave, valor in datos_academicos:
    dicc_combined[clave] = valor

In [64]:
datos_combined = {**datos_alumno,  **datos_academicos}
datos_combined

{'Name': 'Felipe',
 'Number': 2301,
 'Course_year': 2021,
 'Num_courses': 5,
 'Grades': [5, 6, 7, 8, 9]}

In [63]:
import numpy as np
# Guardamos la lista de notas como un array numpy
notas_numpy = np.array(datos_combined["Grades"])
# Porque podemos hacer esto directamente:
notas_numpy.mean()

7.0

In [89]:
datos_alumno = {"nota":2}

In [121]:
datos_alumno

{'nota': 2}

In [173]:
def nueva_funcion(lista_interna, numero1 = 1, numero2= 0 , quieres_que_sume=True):
    
    c = 2
    
    lista_interna.append("Dentro Funcion")
    
    if quieres_que_sume:
        resultado = numero1 + numero2
    else:
        resultado = numero1 - numero2
    
    return resultado, lista_interna

In [134]:
res = nueva_funcion(numero1 = 3, quieres_que_sume=False);

3

In [136]:
print(res)

None

In [139]:
num1 = 4

In [140]:
num2 = 6

In [165]:
resultado = 4
lista = [2, 3]

In [175]:
caja_devuelta, lista = nueva_funcion(lista, 3,4)

In [176]:
caja_devuelta

7

In [177]:
resultado

4

In [178]:
lista

[2, 3, 'Dentro Funcion', 'Dentro Funcion', 'Dentro Funcion', 'Dentro Funcion']

# Exceptions

In [204]:
try:
    dinero_2 = float(input("Introduzca el dinero a pagar: "))
    
    "adsdsa" +2
    
    
except ValueError:
    
    print("Ha habido error A")
    
except TypeError: 
    print("Ha habido error B")    

except:
    print("Ha habido otro error")

Introduzca el dinero a pagar: asasfasfd
Ha habido error A

In [200]:
if dinero != -1:
    continua

-1

In [201]:
dinero_2 = float(input("Introduzca el dinero a pagar: "))

Introduzca el dinero a pagar: aasd

ValueError: could not convert string to float: 'aasd'

In [202]:
"adsdsa" +2

TypeError: can only concatenate str (not "int") to str